@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  p {
    @apply text-grey;
    @apply font-medium;
    @apply text-[18px];
  }
}

@layer components {
  .bg-grad-lred {
background: linear-gradient(302.02deg, #FFB1B5 -43.05%, #FFFFFF 75.37%);
  }

  .bg-grad-lblue{
    background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
  }

  .bg-grad-lyellow{
    background: linear-gradient(127.05deg, #FFD085 -4.39%, #FFFFFF 73.98%);
  }
  .bg-grad-leftblue{
    background: linear-gradient(77.58deg, #D4E7FE 1.34%, #FFFFFF 100%);
  }
}


html {
  font-family: 'Poppins';
  padding: 0;
  margin: 0;
  width: 100%; 
  height: 100%;
}
body {
  font-family: 'Poppins';
  padding: 0;
  margin: 0;
  width: 100%; 
  height: auto;
}