.body {
    @apply font-bold;
}

.body a{
    text-decoration: underline;
    @apply text-sblue hover:no-underline;
}

.body code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}